@import '~src/assets/scss/variables';

.space {
  background: $color-space-background;
  position: relative;
  height: 100vh;
  display: flex;
}

canvas {
  background: lightcoral;
}

:host ::ng-deep .canvas-container {
  margin: auto;
}
