// .theme-list {
//   a:hover span:first-child {
//     display: inline-block;
//     animation: theme-anim .4s ease-out both;
//   }

//   span:first-child {
//     margin-right: .2em;
//     position: relative;
//     top: .05em;
//   }
// }

.infos {
  color: $color-darkgray;
}

.bottom {
  opacity: .6;
}

.theme-list {
  margin-top: 1.5rem;
}

.button {
  padding: .5rem 1rem;
  border-radius: 1000rem;
  border: 1px solid $color-darkgray;
  // font-size: .85rem;
  font-weight: 600;

  &:hover {
    opacity: .8;
  }
}

// .button--dark {
//   background: #333;
//   color: white;
// }

// @keyframes theme-anim {
//   0%,
//   100% {
//     transform: translate3d(0, 0, 0);
//   }

//   50% {
//     transform: translate3d(-80%, 0, 0);
//   }
// }
