// General colors
$color-white: #ffffff;
$color-black: #000000;
$color-darkgray: #333333;
$color-white-smoke: #f5f6f7;

// Space colors
$color-gray: #5B5B5B;
$color-space-background: #ECECEC;

// Cubes colors
$color-white-2: #CAD3C8;

// Font
$font-family: 'Inter', sans-serif;
// $base-font-size: .85rem;
$base-font-size: 1rem;

// Easing
$ease-out-quint: cubic-bezier(.23, 1, .32, 1);

// Responsive
$screen-sm-min: 768px;
$screen-xs-max: ($screen-sm-min - 1);
$screen-md-min: 992px;
$screen-sm-max: ($screen-md-min - 1);
$screen-lg-min: 1200px;
$screen-md-max: ($screen-lg-min - 1);
