// General colors
$color-white: #fff;
$color-black: #000;

// Cubes colors
$color-gray-dark: #333333;
$color-white-2: #CAD3C8;

// Font
$font-family: 'Montserrat', sans-serif;
$base-font-size: 1rem;

// Easing
$ease-out-quint: cubic-bezier(.23, 1, .32, 1);

// Responsive
$screen-sm-min: 768px;
$screen-xs-max: ($screen-sm-min - 1);
$screen-md-min: 992px;
$screen-sm-max: ($screen-md-min - 1);
$screen-lg-min: 1200px;
$screen-md-max: ($screen-lg-min - 1);
