// main: ../main.scss

$main-color: $color-gray;
$sun-radius: 10vw;
$sun-border-width: 1vw;
$orbit-border-width: .1vw;
$orbit-border-color: rgba(0, 0, 0, 0);

@mixin rotate($speed) {
  animation: spin $speed linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(-90deg);
  }

  to {
    transform: rotate(270deg);
  }
}

@mixin planet-wrapper-template($r: 200px, $speed: 10s) {
  @include rotate($speed);
  width: $r;
  position: absolute;
  z-index: 0;
  height: $r;
  left:  -$r / 2 + $sun-radius / 2;
  top:  -$r / 2 + $sun-radius / 2;
  border-radius: 100%;
  border: $orbit-border-width dashed $orbit-border-color;
}

@mixin planet-template($d: 100px, $bg: $main-color){
  width: $d;
  height: $d;
  border-radius: 100%;
  // background: $bg;
  background: $main-color;
  position: absolute;
  left: 50%;
  margin-left: -$d / 2;
  top: -$d / 2 - $orbit-border-width / 2;
}

@mixin moon-wrapper-template($r: 200px, $planet-r: 400px, $speed: 10s){
  @include rotate($speed);
  width: $r;
  position: absolute;
  z-index: 0;
  height: $r;
  left:  -$r / 2 + $planet-r / 2 - $orbit-border-width;
  top:  -$r / 2- $orbit-border-width / 2;
  border-radius: 100%;
  border: $orbit-border-width dashed $orbit-border-color;
}

#sun {
  width: $sun-radius;
  height: $sun-radius;
  position: fixed;
  right: 150px;
  bottom: 150px;
  border-radius: 100%;
  background: $main-color;
}

#mercury {
  $r: 20vw;
  $pr: .5vw;
  $speed: 10s;
  $bg: #F4D03F;

  @include planet-wrapper-template($r, $speed);

  .planet {
    @include planet-template($pr, $bg);
  }
}

#venus {
  $r: 30vw;
  $pr: 1vw;
  $speed: 7s;
  $bg: #F2784B;

  @include planet-wrapper-template($r, $speed);

  .planet{
    @include planet-template($pr, $bg);
  }
}

#earth {
  $planet-r: 40vw;
  $pr: 2vw;
  $speed: 15s;
  $bg: #6BB9F0;

  @include planet-wrapper-template($planet-r, $speed);

  .planet{
    @include planet-template($pr, $bg);
  }

  #moon {
    $r: 4vw;
    $pr: .4vw;
    $speed: 5s;
    $bg: #DADFE1;

    @include moon-wrapper-template($r, $planet-r, $speed);

    .moon {
      @include planet-template($pr, $bg);
    }
  }
}

#mars {
  $r: 65vw;
  $pr: 4vw;
  $speed: 30s;
  $bg: #16a085;

  @include planet-wrapper-template($r, $speed);

  .planet{
    @include planet-template($pr, $bg);
  }
}

#neptune {
  $r: 90vw;
  $pr: 2vw;
  $speed: 15s;
  $bg: #C0392B;

  @include planet-wrapper-template($r, $speed);

  .planet{
    @include planet-template($pr, $bg);
  }
}
