<div class="wrapper">
  <canvas class="canvas" [ngClass]="{'animate': animateCanvas}" #canvas width="600" height="300"></canvas>
  <div class="text" [ngClass]="{'animate': animateCanvas}">
    <h1 class="title-1">Paul Giron</h1>
    <div class="bottom">
      <h2 class="title-2">Web Craft-work</h2>
      <p class="infos">
        <a href="mailto:{{email}}">{{email}}</a> | <a href="tel:{{phone}}">{{phone}}</a>
      </p>
      <!-- <ul class="theme-list">
        <li><a class="button" [routerLink]="['/space']">Space</a></li>
        <li><a class="button" [routerLink]="['/cubes']">Cubes</a></li>
      </ul> -->
      <!-- <button class="button-scroll" (click)="onClickScroll()">
        <img src="/assets/images/icon-scroll.svg" alt="Icon scroll">
      </button> -->
    </div>
  </div>
  <!-- <div class="test"></div> -->
</div>
