@import '~src/assets/scss/variables';

.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
  background: $color-white-smoke;
  box-shadow: inset 0 0 150px 0 rgba($color-black, .2);
}

.canvas {
  display: block;
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  transition: all 2s $ease-out-quint;

  &.animate {
    transform: translate3d(0, -100%, 0);
  }
}

.text {
  color: $color-white-smoke;
  text-align: center;
  animation: text-fade-in 1s both 2.1s;
  position: relative;
  z-index: 2;
}

.bottom {
  opacity: .8;
}

.title-1 {
  font-size: 8rem;
  margin-bottom: 1rem;
}

.title-2 {
  font-size: 2rem;
}

.infos {
  margin-top: 1rem;
  font-size: 1.5rem;
  color: inherit;

  a:hover {
    text-decoration: underline;
  }
}

@keyframes text-fade-in {
  from {
    opacity: 0;
    // transform: scale(.95);
    transform: scale(1.02);
  }

  to {
    opacity: 1;
    transform: scale(1);
  }
}

.theme-list {
  justify-content: center;

  .button {
    color: $color-white-smoke;
    border-color: $color-white-smoke;
  }
}

.button-scroll {
  width: 3.2rem;
  height: 3.2rem;
  margin-top: 1rem;
  animation: scroll-button-fade-in .6s both 2.6s;

  svg {
    width: 100%;
    height: 100%;
  }
}

@keyframes scroll-button-fade-in {
  from {
    opacity: 0;
    transform: translate3d(0, .85rem, 0);
  }

  to {
    opacity: .8;
    transform: translate3d(0, 0, 0);
  }
}

// .test {
//   width: 600px;
//   height: 30px;
//   background: lightgray;
// }
