<div class="cubes" #wrapper (window:resize)="onResize()">
  <div class="infos">
    <h1 class="title-1">Paul Giron</h1>
    <div class="bottom">
      <h2 class="title-2">Web developer</h2>
      <ul class="contact-list">
        <li class="email"><a href="mailto:{{email}}">{{email}}</a></li>
        <li class="phone"><a href="tel:{{phone}}">{{phone}}</a></li>
      </ul>
      <!-- <ul class="theme-list">
        <li class="button-wrapper">
          <a class="theme-space button" [routerLink]="['/space']">space</a>
        </li>
      </ul> -->
    </div>
  </div>
</div>
