@import '~src/assets/scss/variables';

.space {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: $color-space-background;
  color: $color-gray;
  // cursor: none;
}

.infos {
  position: fixed;
  bottom: 1rem;
  left: 1.5rem;
  display: flex;
  align-items: flex-end;
}

$animation-delay: .6s;

.link {
  position: relative;

  &:after {
    content: '';
    width: 100%;
    height: 1px;
    background: $color-gray;
    position: absolute;
    bottom: 0;
    left: 0;
    opacity: 0;
    transition: opacity .2s;
  }

  &:hover:after {
    opacity: 1;
  }
}

.name {
  margin-right: .5rem;
}

.job {
  opacity: .8;
  font-size: .85rem;
}

.title-1 {
  animation: infos-fade .5s ease-out both $animation-delay + .5s;
  transform-origin: right bottom;

  // @media (max-width: $screen-xs-max) {
  //   font-size: 17vmin;
  // }
}

.title-2 {
  animation: infos-fade .5s ease-out both $animation-delay + .6s;
  transform-origin: right bottom;
  margin-right: 1.5rem;
}

.nav {
  margin-left: 2rem;
  opacity: .8;
  font-size: .85rem;

  ul {
    display: flex;
  }

  li {
    animation: infos-fade .5s ease-out both $animation-delay + .7s;
    transform-origin: right bottom;
  }

  li:not(:last-child) {
    margin-right: .5rem;
  }

  .link:after {
    bottom: -.2em;
  }
}

.star {
  color: $color-gray;
  position: absolute;
  animation: infos-fade .5s ease-out both $animation-delay;
  transform-origin: right bottom;

  span {
    animation: star-fade 2s both infinite;
  }
}

@keyframes infos-fade {
  from {
    opacity: 0;
    transform: scale(.98) translate3d(.5rem, .5rem, 0);
  }

  to {
    opacity: 1;
    transform: scale(1) translate3d(0, 0, 0);
  }
}

@keyframes star-fade {

  0%,
  100% {
    opacity: 1;
    transform: scale(1);
  }

  25% {
    opacity: .1;
    transform: scale(.95);
  }
}

$main-color: $color-gray;
$sun-radius: 10vw;
$sun-border-width: 1vw;
$orbit-border-width: .1vw;
$orbit-border-color: transparent;

$orbit-animation-speed: .5s;
$orbit-animation-delay: .1s;

@mixin rotate($speed) {
  animation: spin $speed linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(-90deg);
  }

  to {
    transform: rotate(270deg);
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
    transform: scale(.8);
  }

  to {
    opacity: 1;
    transform: scale(1);
  }
}

@mixin planet-wrapper-template($r: 200px, $speed: 10s) {
  @include rotate($speed);
  width: $r;
  position: absolute;
  z-index: 0;
  height: $r;
  left: -$r / 2 + $sun-radius / 2;
  top: -$r / 2 + $sun-radius / 2;
  border-radius: 100%;
  border: $orbit-border-width dashed $orbit-border-color;
  background: rgba(0, 0, 0, .07);
}

@mixin planet-template($d: 100px, $bg: $main-color) {
  width: $d;
  height: $d;
  border-radius: 100%;
  // background: $bg;
  background: $main-color;
  position: absolute;
  left: 50%;
  margin-left: -$d / 2;
  top: -$d / 2 - $orbit-border-width / 2;

  background: linear-gradient(135deg, rgba(118, 118, 118, 1) 0%, rgba(118, 118, 118, 1) 50%, rgba(91, 91, 91, 1) 51%, rgba(91, 91, 91, 1) 100%);
}

@mixin moon-wrapper-template($r: 200px, $planet-r: 400px, $speed: 10s) {
  @include rotate($speed);
  width: $r;
  position: absolute;
  z-index: 0;
  height: $r;
  left: -$r / 2 + $planet-r / 2 - $orbit-border-width;
  top: -$r / 2- $orbit-border-width / 2;
  border-radius: 100%;
  border: $orbit-border-width dashed $orbit-border-color;
  background: rgba(0, 0, 0, .07);
}

#sun {
  width: $sun-radius;
  height: $sun-radius;
  position: fixed;
  right: 6rem;
  bottom: 6rem;
  border-radius: 100%;
  background: $main-color;
  z-index: 10;

  background: linear-gradient(135deg, rgba(118, 118, 118, 1) 0%, rgba(118, 118, 118, 1) 50%, rgba(91, 91, 91, 1) 51%, rgba(91, 91, 91, 1) 100%);

  animation: fade-in $orbit-animation-speed ease-out both;

  @media (max-width: $screen-xs-max) {
    right: 10vmin;
    bottom: 10vmin;
  }
}

#mercury {
  $r: 20vw;
  $pr: .5vw;
  $speed: 10s;
  $bg: #F4D03F;

  animation: fade-in $orbit-animation-speed ease-out both;

  .planet-wrapper {
    @include planet-wrapper-template($r, $speed);
  }

  .planet {
    @include planet-template($pr, $bg);
  }
}

#venus {
  $r: 30vw;
  $pr: 1vw;
  $speed: 7s;
  $bg: #F2784B;

  animation: fade-in $orbit-animation-speed ease-out $orbit-animation-delay both;

  .planet-wrapper {
    @include planet-wrapper-template($r, $speed);
  }

  .planet {
    @include planet-template($pr, $bg);
  }
}

#earth {
  $planet-r: 40vw;
  $pr: 2vw;
  $speed: 15s;
  $bg: #6BB9F0;

  animation: fade-in $orbit-animation-speed ease-out 2 * $orbit-animation-delay both;

  .planet-wrapper {
    @include planet-wrapper-template($planet-r, $speed);
  }

  .planet {
    @include planet-template($pr, $bg);
  }

  #moon {
    $r: 4vw;
    $pr: .4vw;
    $speed: 5s;
    $bg: #DADFE1;

    @include moon-wrapper-template($r, $planet-r, $speed);

    .moon {
      @include planet-template($pr, $bg);
    }
  }
}

#mars {
  // $r: 65vw;
  $r: 54vw;
  $pr: 4vw;
  $speed: 30s;
  $bg: #16a085;

  animation: fade-in $orbit-animation-speed ease-out 3 * $orbit-animation-delay both;

  .planet-wrapper {
    @include planet-wrapper-template($r, $speed);
  }

  .planet {
    @include planet-template($pr, $bg);
  }
}

#neptune {
  // $r: 90vw;
  $r: 68vw;
  $pr: 2vw;
  $speed: 15s;
  $bg: #C0392B;

  animation: fade-in $orbit-animation-speed ease-out 4 * $orbit-animation-delay both;

  .planet-wrapper {
    @include planet-wrapper-template($r, $speed);
  }

  .planet {
    @include planet-template($pr, $bg);
  }
}
