// main: ../main.scss

body.cubes {
  background: $color-gray-dark;
  // background: linear-gradient(45deg, $color-gray-dark-2 0%, $color-gray-dark 50%);

  canvas {
    width: 100%;
    height: 100%;
    display: block;
  }
}

.cubes__title {
  position: absolute;
  left: 65vw;
  bottom: 4rem;
  color: $color-white-2;

  @media (max-width: $screen-xs-max) {
    left: auto;
    bottom: auto;
    right: 2rem;
    top: 2rem;
  }

  h1 {
    font-size: 3rem;
    font-weight: 300;

    @media (max-width: $screen-xs-max) {
      font-size: 1.5rem;
    }
  }

  span {
    opacity: 0;
    transition: opacity 2s ease-out;

    &.is-visible {
      opacity: 1;
    }
  }

  ul {
    margin-top: 1rem;
  }

  .contact-list a:hover {
    text-decoration: underline;
  }
}
