// main: ../main.scss

// Colors
$color-black: #161616;
$color-white: #fff;
$color-white-2: #CAD3C8;
$color-gray: #5B5B5B;
$color-gray-dark: #333333;
// $color-gray-dark-2: #16191d;

// Responsive
$screen-sm-min: 768px;
$screen-xs-max: ($screen-sm-min - 1);
$screen-md-min: 992px;
$screen-sm-max: ($screen-md-min - 1);
$screen-lg-min: 1200px;
$screen-md-max: ($screen-lg-min - 1);
